main {
  height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  padding-top: 60px;
}

footer {
  height: 50px;
}

.bg-home {
  background-color: #1e90ff;
}

.badge{ font-size: 100%;}

.textarea-large{
    overflow: auto;
    resize: vertical;
    width: 100%;
    height: 170px;
}
.roomtitle-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-roomtitle-name {
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
    /*IE対策*/
    line-height: 1.5em;
    max-height: 4.5em;
}
/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  margin: 5px;
  border: none;
  color: #999;
}
.pagination > li > a:hover {
  color: turquoise;
  background-color: white;
}
.pagination > .active > a {
  color: turquoise;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: turquoise;
}
/* --ページネーション */
.roomform_tag {
  width: auto;
  height: 15rem;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none; 
  overflow-x: hidden;
  
 
}

.room_tag::-webkit-scrollbar{
  height: 5px;
  }
.room_tag::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}
.room_tag::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
